{% extends 'base.html' %}

{% block body %}
    <div class= "container">
        <h1 style="color: #FF8C00">ComunidadeImpressionadora</h1>
        <h2>Meca da Programação</h2>
        <hr>
        {% for post in posts %}
        <div class="row border mt-4 p-3 meupost">
            <div class="col col-2">
                 <div class="image pe-2">
                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200" >
                </div>
                <strong>{{ post.autor.username }}</strong>
                <div class="row justify-content-center">
                    {% for curso in post.autor.cursos.split(';') %}
                        <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="col col-9">
                <a class="estilo_links" href=" {{ url_for('exibir_post', post_id=post.id) }} " ><h3>{{ post.titulo }}</h3></a>
                <p>{{ post.corpo }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}